// Colors
$bg-color: #1a1b23;
$text-color: #ffffff;
$primary-color: #00af8f;
$secondary-color: #025a4a;
$white: white;

// Font sizes
$font-size-default: 1.5rem;
$font-size-m: 2.4rem;
$font-size-l: 3rem;
$font-size-xl: 4rem;

// Breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 650px;
$breakpoint-narrow-desktop: 900px;
$breakpoint-wide-desktop: 1200px;
